<div id="respostas">
  <%= form_for @solicitacao do |f| %>
    <%= link_to_add_association
        '<span class="glyphicon glyphicon-trash" style="color: red;" title="Remover"></span>', f, :respostas) %>
    <%= f.fields_for :respostas do |respostas_fields| %>
      <%#= if respostas_fields.tipo == "acesso_a" %>
        <%= render partial: "resposta_fields", locals: { f: respostas_fields, texto_tipo: texto } %>
      <%# end %>
    <% end %>
  <% end %>
</div><!-- respostas -->
