<div class="row">
    <div align="center" class="col-lg-1" style="font-weight: bold"><center>Tipo</center></div>        
    <div align="center" class="col-lg-1" style="font-weight: bold">Estrutura</div> 
    <div align="center" class="col-lg-3" style="font-weight: bold">Descrição</div>        
    <div align="center" class="col-lg-1" style="font-weight: bold">Prazo</div>
    <div align="center" class="col-lg-1" style="font-weight: bold">Capex</div> 
    <div align="center" class="col-lg-1" style="font-weight: bold">Opex Inst</div> 
    <div align="center" class="col-lg-1" style="font-weight: bold">Opex Mês</div>
    <div align="center" class="col-lg-1" style="font-weight: bold">Resultado</div>             
    <div align="center" class="col-sm-1" style="font-weight: bold">Ação</div>
</div><!-- row -->
<hr style="color: black; background-color:#000; height:2px; margin-top: 0px; margin-bottom: 2px">

