<!-- carregamento inteligente dos CSS e JAVASCRIPTS  -->
<% content_for :head do %>
  <%= stylesheet_link_tag "#{params[:controller]}" %>
  <%= javascript_include_tag "#{params[:controller]}" %>
<% end %>

<%- model_class = Solicitacao -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', '%{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
