<!-- Navigation -->
<div class="navbar navbar-default navbar-static-top">
  <a class="navbar-brand" style="margin: 0px; padding: 5px;" href="#"><%= image_tag("telebras3.jpg", size: "120x40")%></a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
       <ul class="nav navbar-top-links navbar-right">
         <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#">
             <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
           </a>
           <ul class="dropdown-menu dropdown-user">
          <!--
            <%# if usuario_signed_in? %>
              <p><strong><%#= current_usuario.email%></strong></p>
              <li><%# link_to ('<span class="glyphicon glyphicon-edit">
                </span> Edit profile').html_safe, edit_usuario_registration_path %></li>
              <li><%# link_to ('<span class="glyphicon glyphicon-log-out">
                </span> Logout').html_safe,
                site_usuarios_sign_out_path,
                :class => 'navbar-link' %></li>
            <%# else %>
              <li><%#= link_to ('<span class="glyphicon glyphicon-user">
                </span> Sign up').html_safe,
                new_usuario_path %></li>
              <li><%#= link_to ('<span class="glyphicon glyphicon-log-in">
                </span> Login').html_safe,
                new_usuario_registration_path %></li>
            <%# end %>
          -->
          </ul>
      </ul>
  </div>
</div>



