<%- model_class = Analista -%>
<div class="list-group">
  <h1  class="list-group-item-heading list-group-item-info">
    <center><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], 
      :model => model_class.model_name.human.titleize %></center>
  </h1>  
</div>

<%= render :partial => 'form' %>


