// Place all the styles related to the estacaes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack: Helvetica, sans-serif;
$primary-color: blue;


a {
     text-decoration: underline;
 }
 
#sombrarredondada{
     padding: 5px;
     -moz-border-radius: 7px;
     -webkit-border-radius: 7px;
}
.page-header {
    padding-bottom: 9px;
    margin: 5px 0 20px;
    border-bottom: 1px solid #eee;
}