
body {
  background-color: #fff;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 10px;
}

 #notice {
  color: green;
}
.tudo{
  display: table;
}
.clear {
  clear: both;
}
.centro {
  margin: auto;
}
.quadroBotoes {
  width: 15%;
  float: left;
}
.quadroDados{
 margin: auto;
 }
.box-show {
  margin: 10px auto;
  padding: 0px;
  max-width: 500px ; 
  background: #C0E1FF; 
  border-style: ridge;
}
/* usado para debug */
.marcador {
  background:#fe9d9d;
  border: 1px solid #f94646 ;
}
.campoRotulo {
  font-weight: bold;
  margin: 3px 5px;
  float: left; 
}
.campoDados {
  font-weight: normal;
  margin: 3px 5px;
  float: left; 
}
.campoEntrada {
  margin: 5px 5px;
  padding: 0px;
  float: left;
  box-sizing: border-box;
}

.linha {
   color: black; 
   background-color:#000; 
   height:1px; 
   margin-top: 0px; 
   margin-bottom: 2px;
}

.botao{
  max-width: 80px;
  margin: 5%;
  width: 90%;
  padding: 5px;
  background: #66C1E4;
  border: none;
  color: white;
  box-shadow: 1px 1px 1px #4C6E91;
  -webkit-box-shadow: 1px 1px 1px #4C6E91;
  -moz-box-shadow: 1px 1px 1px #4C6E91;
  text-shadow: 1px 1px 1px #5079A3;
  cursor: pointer;
  
}
.botao:hover{
    background: #3EB1DD;
}

.botaoApaga{
  margin: 5%;
  max-width: 80px;
  padding: 5px;
  width: 90%;
  background: #ff0000;
  border: none;
  color: #fff;
  box-shadow: 1px 1px 1px #4C6E91;
  -webkit-box-shadow: 1px 1px 1px #4C6E91;
  -moz-box-shadow: 1px 1px 1px #4C6E91;
  text-shadow: 1px 1px 1px #5079A3;
  
}
.botaoApaga:hover{
    background: #cc0000;
}


