// Place all the styles related to the Solicitacaes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.quadroRespostas{
  width: auto;
  height: auto;
  padding: 5px;
  background-color: #fff;
  float: left;
}

//
//
//

.campoVt {
  width: 120px;
  float: left;  
}
.campoEmpresa {
  width: 400px;
  text-align: left;
  vertical-align: top;
  float: left;
}
.campoDataSolicitacao {
  width: 100px;
  text-align: center;
  float: left;  
}
.campoSolicitante {
  width: auto;
  text-align: center;
  float: left;  
}
.campoAnalista {
  width: auto;
  text-align: center;
}
.campoEndereco{
  max-width: 600;
  width: auto;
  margin: auto;
  padding: 0px 10px;
  float: left;  
}
.campoEstado {
  width: 50px;
  float: left;  
}
.campoLocalidade{
  width: 120px;
  float: left;  
}
.campoEstado {
  width: 50px;
  float: left;  
}
.campoBanda {
  width: 70px;
  padding: 0px;
}
//
// Quadro de recursos
//
.efeito {
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.efeito:focus{
   border: 3px solid #555;
}

.campoTipo {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.campoEstrutura {
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.campoDescricao {
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.campoPrazo {
  text-align: center;
}
.campoCapex {
  text-align: center;
}
.campoOpexInstalacao {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.campoOpexMensal {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.campoResultadoVt {
  text-align: center;
}
.campoApaga {
  text-align: center;
}



