// Place all the styles related to the Uf controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "glyphicons";

.table-striped {
  tbody { 
    tr {
      background-color: #ccc;
        }
    th {
      .asc {
        background-image: url(/images/arrow-up.gif);
      }
      .desc {
        background-image: url(/images/arrow-down.gif);
      }
    }
  }
}
